<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ArithmosViewModels.ArithmosSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ArithmosViewModels.ArithmosSettings>
            <setting name="ShowGematria" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowOrdinal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowReduced" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSumerian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPrimes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSquared" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMisparGadol" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMisparShemi" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectGematria" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectOrdinal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectReduced" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectSumerian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectPrimes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectSquared" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectMisparGadol" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectMisparShemi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectEnglish" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectHebrew" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectGreek" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectMixed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowAlphabet" serializeAs="String">
                <value>True</value>
            </setting>
        </ArithmosViewModels.ArithmosSettings>
    </userSettings>
</configuration>